* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

header nav {
  position: relative;
  margin: 0 auto;
  height: 45px;
  border-bottom: 1px solid #e2e2e2;
  background-color: #fff;
}

header nav ul {
  display: inline-block;
}

header nav ul li {
  display: inline-block;
}
header nav ul a {
  color: black;
}

.left-nav {
  float: left;
  font-size: 16px;
  padding-right: 10px;
  margin-top: 10px;
  margin-left: 25px;
  font-size: 18px;
  font-weight: bold;
}

.center-nav {
  margin-top: 7px;
  margin-left: 350px;
  font-family: 'UnifrakturCook', cursive;
  font-size: 20px;
}

.center-nav::after {
  content: '';
  clear: both;
}

.right-nav button {
  position: relative;
  bottom: 10px;
  left: 270px;
  padding: 5px 15px;
  background-color: #326891;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  color: #fff;
}

main {
  width: 100%;
}

main h1 {
  position: relative;
  top: 150px;
  width: 400px;
  font-size: 44px;
  color: #121212;
  margin: 0 auto;
  font-family: 'Chela One', cursive;
  letter-spacing: 2px;
}

main span {
  display: block;
  position: relative;
  top: 153px;
  left: 25px;
  width: 450px;
  font-size: 44px;
  color: #121212;
  margin: 0 auto;
  font-family: 'Chela One', cursive;
  letter-spacing: 2px;
}

#main-img {
  width: 70%;
  position: relative;
  left: 250px;
}

.moreSpace {
  width: 60%;
  border-top: 1px solid #000000;
  padding-bottom: 70px;
  position: relative;
  left: 50px;
  top: 50px;
}

#moreSpaceTitle {
  position: relative;
  font-size: 20px;
  font-weight: 550;
  top: 20px;
}

.moreSpace ul {
  display: inline-block;
  width: 100%;
}

.moreSpace ul li {
  display: inline-block;
  width: 33%;
}

.moreSpace img {
  width: 295px;
  padding-top: 40px;
  padding-right: 18px;
}

.moreSpace figcaption {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

.moreSpace small {
  font-size: 12px;
}

.space {
  position: relative;
  top: 23px;
}

.rocket {
  position: relative;
  top: 37px;
  width: 85%;
}
.imgUpCap {
  font-size: 8px;
  float: right;
  position: relative;
  right: 8px;
}

.editorPick {
  border-top: 1px solid #121212;
  margin-top: 70px;
  padding-bottom: 100px;
}

.editorPick li {
  width: 33%;
}

.editorPick h3 {
  padding-top: 10px;
}
.editorPick a {
  color: #121212;
}

.death {
  position: relative;
  bottom: 23px;
}

.side-footer {
  width: 30%;
  position: absolute;
  left: 950px;
  top: 708px;
  border-top: 1px solid #000;
}

.side-footer ul {
  display: block;
  width: 100%;
}

.side-footer ul li {
  width: 90%;
  font-size: 22px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 20px;
  border-top: 1px solid #3333;
}

.side-footer h3 {
  font-size: 20px;
  padding-top: 32px;
  padding-bottom: 2px;
}

footer {
  position: relative;
  left: 5%;
  width: 90%;
  border-top: 2px groove #333;
  border-bottom: 2px groove #333;
  margin-bottom: 10px;
  padding-bottom: 20px;

  padding-top: 20px;
}

footer h1 {
  padding-bottom: 10px;
}

footer table {
  width: 100%;
}

.footer-titles th {
  text-align: left;
}

footer p a {
  color: #567b95;
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 10px;
}

footer tr {
  padding-top: 7px;
}

.footer2 {
  width: 90%;
  position: absolute;
  left: 15%;
}

.footer2 ul {
  padding-top: 10px;
}

.footer2 li {
  display: inline;
  font-size: 12px;
  margin-left: 5px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.footer2 li a {
  color: #666666;
}

.expand {
  width: 100%;
  height: 12px;
  text-align: center;
  position: relative;
  border-top: 1px solid #000000;
  top: 50px;
  padding: 20px 0;
  margin: 5px 1% 5px 1%;
  transition: height 1s;
  /* -webkit-transition: height 0.5s; */
  overflow: hidden;
}

.expand span {
  position: absolute;
  right: 40px;
  top: 20px;
}
@media only screen and (max-width: 1280px) {
 
  .side-footer {
    width: 25%;
    position: absolute;
    left: 950px;
    top: 650px;
    border-top: 1px solid #000;
  }
  .moreSpace{
    width: 70%;
    border-top: 1px solid #000000;
    padding-bottom: 70px;
    position: relative;
    left: 50px;
    top: 50px;
  }
  .container{
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  
}
