* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

header nav {
  position: relative;
  margin: 0 auto;
  height: 45px;
  border-bottom: 1px solid #e2e2e2;
  background-color: #fff;
}

header nav ul {
  display: inline-block;
}

header nav ul li {
  display: inline-block;
}
header nav ul a {
  color: black;
}

.left-nav {
  float: left;
  font-size: 16px;
  padding-right: 10px;
  margin-top: 10px;
  margin-left: 25px;
  font-size: 18px;
  font-weight: bold;
}

.center-nav {
  margin-top: 7px;
  margin-left: 280px;
  font-family: 'UnifrakturCook', cursive;
  font-size: 20px;
}

.center-nav::after {
  content: '';
  clear: both;
}

.right-nav button {
  position: relative;
  bottom: 10px;
  left: 200px;
  padding: 5px 15px;
  background-color: #326891;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  color: #fff;
}

main {
  width: 100%;
}

main h1 {
  position: relative;
  top: 150px;
  width: 400px;
  font-size: 44px;
  color: #121212;
  margin: 0 auto;
  font-family: 'Chela One', cursive;
  letter-spacing: 2px;
}
main hr {
  width: 100px;
  margin-top: 10px;
}
main span {
  display: block;
  position: relative;
  top: 153px;
  left: 25px;
  width: 450px;
  font-size: 44px;
  color: #121212;
  margin: 0 auto;
  font-family: 'Chela One', cursive;
  letter-spacing: 2px;
}

main iframe {
  width: 100%;
  height: 320px;
}

main figcaption small {
  color: grey;
}

main article {
  position: relative;
  margin-top: 30px;
  left: 25%;
  width: 50%;
}
main article nav ul {
  display: inline-block;
  margin-top: 30px;
}
main article nav ul li {
  display: inline-block;
}
main article nav ul li span {
  position: absolute;
  font-size: 15px;
  left: 96.5%;
  top: 60px;
  width: 20px;
  text-align: center;
}
main article nav ul li i {
  font-size: 25px;
}
main article .navigation {
  float: right;
}
main article .navigation li {
  margin-left: 10px;
}
main article .navigation li a {
  color: #121212;
}
main article .navigation li a:hover {
  color: blue;
}
main article section {
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
main article section p {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 15px;
  text-align: justify;
  font-weight: normal;
}
main article section h3 {
  margin-top: 10px;
}

main article nav ul li button {
  background: #567b95;
  cursor: pointer;
  width: 250px;
  border: none;
  height: 40px;
  color: #fffff8;
  border-radius: 5px;
}

main article section figcaption {
  font-size: 0.8rem;
  line-height: 1rem;
}

.main-img {
  width: 70%;
  position: relative;
  left: 250px;
}

.text-bloc {
  position: relative;
}
.bloc1 {
  position: absolute;
  top: -29rem;
}
.bloc2 {
  position: absolute;
  top: -10rem;
}
.bloc1 li,
.bloc2 li {
  display: inline-block;
  width: 23.5%;
  margin-left: 1%;
}
.bloc1 li .first,
.bloc2 li .first {
  margin-left: 0%;
}
#universe-img {
  width: 100%;
}
#second-article {
  position: relative;
  margin-left: -15%;
  width: 80%;
}
#second-article figcaption {
  margin: 10px 0px 10px 0px;
}
#cosmos {
  width: 100%;
}

.moreSpace {
  width: 60%;
  border-top: 1px solid #000000;
  padding-bottom: 70px;
  position: relative;
  left: 50px;
  top: 50px;
}

#moreSpaceTitle {
  position: relative;
  font-size: 20px;
  font-weight: 550;
  top: 20px;
}

.moreSpace ul {
  display: inline-block;
  width: 100%;
}

.moreSpace ul li {
  display: inline-block;
  width: 33%;
}

.moreSpace img {
  width: 295px;
  padding-top: 40px;
  padding-right: 18px;
}

.moreSpace figcaption {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

.moreSpace small {
  font-size: 12px;
}

.space {
  position: relative;
  top: 23px;
}

.rocket {
  position: relative;
  top: 37px;
  width: 85%;
}
.imgUpCap {
  font-size: 8px;
  float: right;
  position: relative;
  right: 8px;
}

.editorPick {
  border-top: 1px solid #121212;
  margin-top: 70px;
}

.editorPick li {
  width: 33%;
}

.editorPick h3 {
  padding-top: 10px;
}
.editorPick a {
  color: #121212;
}

.death {
  position: relative;
  bottom: 23px;
}

.side-footer {
  width: 30%;
  position: relative;
  left: 950px;
  bottom: -8343px;
  border-top: 1px solid #000;
}

.side-footer ul {
  display: block;
  width: 100%;
}

.side-footer ul li {
  width: 90%;
  font-size: 22px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 20px;
  border-top: 1px solid #3333;
}

.side-footer h3 {
  font-size: 20px;
  padding-top: 32px;
  padding-bottom: 2px;
}

footer {
  position: relative;
  left: 4%;
  width: 90%;
  border-top: 2px groove #333;
  border-bottom: 2px groove #333;
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  bottom: 20px;
}

footer h1 {
  padding-bottom: 10px;
}

footer table {
  width: 100%;
}

.footer-titles th {
  text-align: left;
}

footer p a {
  color: #567b95;
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 10px;
}

footer tr {
  padding-top: 7px;
}

.footer2 {
  width: 90%;
  position: relative;
  left: 15%;
  bottom: 20px;
}

.footer2 ul {
  padding-top: 10px;
}

.footer2 li {
  display: inline;
  font-size: 12px;
  margin-left: 5px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.footer2 li a {
  color: #666666;
}

.expand {
  width: 100%;
  height: 12px;
  text-align: center;
  position: relative;
  border-top: 1px solid #000000;
  bottom: 0px;
  padding: 20px 0;
  margin: 5px 1% 5px 1%;
  overflow: hidden;
}
@media only screen and (max-width: 1280px) {
 
  .side-footer {
    width: 25%;
    position: absolute;
    left: 950px;
  }
  .moreSpace{
    width: 70%;
    border-top: 1px solid #000000;
    padding-bottom: 70px;
    position: relative;
    left: 50px;
    top: 50px;
  }
  .container{
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  
}